.App {
  text-align: center;
}

h1 {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  color: 	#c48d3f;
  font-family: 'Courier New', Courier, monospace;
}

h3 {
  text-align: center;
  color: 	#c48d3f;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 0px;
  padding-bottom: 0px;
}

.myToolTip {
  font-family: 'Courier New', Courier, monospace;
}

.myContainer {
  background-color: #81f1f7;
}